In [3]:
from PyPDF2 import PdfFileReader

In [11]:
with open('brazil.pdf', 'rb') as f:
    reader = PdfFileReader(f)
    contents = reader.getPage(0).extractText().split('\n')
    pass

In [25]:
contents[7]

'DPyearpopulationreal GDP indexesyearpopulationreal GDP indexesaggregateper capitaaggregateper capita18507213456111888136100802.140001.13422185173440001.084921.065631889138953902.200461.14232185274706231.072691.035761890141990002.458621.24904185375939551.019700.968611891145222042.669221.32585185477146251.002720.937581892148635132.370981.15067185578332631.027180.945901893152207472.067300.97974185679504981.082890.982501894155917242.115530.97874185780669601.172561.048501895159742612.571381.16115185881832781.270391.119831896163661782.385911.05160185983000811.277861.110571897167652922.405611.03504186084180001.334931.143911898171694212.526541.06149186185376631.343081.134771899175763852.536051.04081186286597001.295531.079171900179840002.506161.00523186387847411.345801.105081901183906862.800181.09833186489134151.383161.119361902187972602.996191.14979186590463511.513601.206931903192051403.010191.13063186691841791.589011.248041904196157453.024191.11211186793275281.749341.352851905200304923.094191.11429186894770291.774481.350651906204508003.234201.14077186996333091.799621.347561907208780873.682231.27222187097970001.697041.249521908213137713.318211.12302187199684981.726251.249161909217592693.668231.216061872101472731.814571.289931910222160003.934251.277441873103325631.792151.251151911226850733.948251.255471874105236061.851931.269411912231663604.368281.360181875107196411.919871.291921913236594264.438281.353171876109199031.881831.243101914241638324.494281.341651877111236331.864851.209321915246791444.438281.297261878113300671.992571.268601916252049244.634291.326301879115384432.044881.278391917257407374.886311.369321880117480001.989851.221801918262861444.984321.367801881119584332.042841.232261919268407115.278341.418561882121712712.127761.261041920274040005.810371.529441883123885022.110101.228651921279757235.922381.527071884126121112.298281.314491922285561796.384411.612741885128440872.172601.220171923291458176.930451.715251886130864162.220161.223791924297450857.028461.704471887133410842.182801.180231925303544317.028461.67025(Continued at next page)'

In [28]:
!pip install tabula

Collecting tabula
  Downloading https://files.pythonhosted.org/packages/eb/bf/b2084620900655a8c080af9873cc654a8a2b0d7a5a111ca4ba947cd9717d/tabula-1.0.5.tar.gz
Requirement already satisfied: setuptools in c:\apps\anaconda\lib\site-packages (from tabula) (39.1.0)
Requirement already satisfied: numpy in c:\apps\anaconda\lib\site-packages (from tabula) (1.14.3)
Building wheels for collected packages: tabula
  Running setup.py bdist_wheel for tabula: started
  Running setup.py bdist_wheel for tabula: finished with status 'done'
  Stored in directory: C:\Users\Egran\AppData\Local\pip\Cache\wheels\47\2c\e2\33c0445cb41b20cf2dc01d31664d62ca6aae7e0bf85c0e6a28
Successfully built tabula
Installing collected packages: tabula
Successfully installed tabula-1.0.5

You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [1]:
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/1f/f6/20e43951738260cff0005ea175b83ada43e0a74a12e729d0bcabc03b129a/tabula_py-1.3.1-py2.py3-none-any.whl (20.4MB)
Requirement already satisfied: pandas in c:\apps\anaconda\lib\site-packages (from tabula-py) (0.23.0)
Requirement already satisfied: numpy in c:\apps\anaconda\lib\site-packages (from tabula-py) (1.14.3)
Requirement already satisfied: urllib3 in c:\apps\anaconda\lib\site-packages (from tabula-py) (1.22)
Collecting distro (from tabula-py)
  Downloading https://files.pythonhosted.org/packages/ea/35/82f79b92fa4d937146c660a6482cee4f3dfa1f97ff3d2a6f3ecba33e712e/distro-1.4.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.5.0 in c:\apps\anaconda\lib\site-packages (from pandas->tabula-py) (2.7.3)
Requirement already satisfied: pytz>=2011k in c:\apps\anaconda\lib\site-packages (from pandas->tabula-py) (2018.4)
Requirement already satisfied: six>=1.5 in c:\apps\anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas->tabula-py) (1.11.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.4.0 tabula-py-1.3.1

You are using pip version 10.0.1, however version 19.0.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [11]:
import tabula
df = tabula.read_pdf("brazil.pdf", pages='all')

In [12]:
df

,Unnamed: 0,Unnamed: 1,real GDP indexes,Unnamed: 3,Unnamed: 4,real GDP indexes.1
0,year,population,NaN,year,population,NaN
1,NaN,NaN,aggregate per capita,NaN,NaN,aggregate per capita
2,1850,7213456,1 1,1888,13610080,2.14000 1.13422
3,1851,7344000,1.08492 1.06563,1889,13895390,2.20046 1.14232
4,1852,7470623,1.07269 1.03576,1890,14199000,2.45862 1.24904
5,1853,7593955,1.01970 0.96861,1891,14522204,2.66922 1.32585
6,1854,7714625,1.00272 0.93758,1892,14863513,2.37098 1.15067
7,1855,7833263,1.02718 0.94590,1893,15220747,2.06730 0.97974
8,1856,7950498,1.08289 0.98250,1894,15591724,2.11553 0.97874
9,1857,8066960,1.17256 1.04850,1895,15974261,2.57138 1.16115
10,1858,8183278,1.27039 1.11983,1896,16366178,2.38591 1.05160
11,1859,8300081,1.27786 1.11057,1897,16765292,2.40561 1.03504
12,1860,8418000,1.33493 1.14391,1898,17169421,2.52654 1.06149
13,1861,8537663,1.34308 1.13477,1899,17576385,2.53605 1.04081
14,1862,8659700,1.29553 1.07917,1900,17984000,2.50616 1.00523
15,1863,8784741,1.34580 1.10508,1901,18390686,2.80018 1.09833
16,1864,8913415,1.38316 1.11936,1902,18797260,2.99619 1.14979
17,1865,9046351,1.51360 1.20693,1903,19205140,3.01019 1.13063
18,1866,9184179,1.58901 1.24804,1904,19615745,3.02419 1.11211
19,1867,9327528,1.74934 1.35285,1905,20030492,3.09419 1.11429
20,1868,9477029,1.77448 1.35065,1906,20450800,3.23420 1.14077
21,1869,9633309,1.79962 1.34756,1907,20878087,3.68223 1.27222
22,1870,9797000,1.69704 1.24952,1908,21313771,3.31821 1.12302
23,1871,9968498,1.72625 1.24916,1909,21759269,3.66823 1.21606
24,1872,10147273,1.81457 1.28993,1910,22216000,3.93425 1.27744
25,1873,10332563,1.79215 1.25115,1911,22685073,3.94825 1.25547
26,1874,10523606,1.85193 1.26941,1912,23166360,4.36828 1.36018
27,1875,10719641,1.91987 1.29192,1913,23659426,4.43828 1.35317
28,1876,10919903,1.88183 1.24310,1914,24163832,4.49428 1.34165
29,1877,11123633,1.86485 1.20932,1915,24679144,4.43828 1.29726
...,...,...,...,...,...,...
51,1934,36372691,10.83670 2.14914,1972,98195605,113.71590 8.35358
52,1935,37113882,11.15872 2.16881,1973,100763985,129.60056 9.27780
53,1936,37873244,12.50281 2.38132,1974,103352118,140.16811 9.78303
54,1937,38651855,13.07685 2.44049,1975,105954772,147.41011 10.03576
55,1938,39450798,13.66489 2.49858,1976,108566714,162.53016 10.79893
56,1939,40271152,14.00091 2.50787,1977,111182711,170.54993 11.06516
57,1940,41114000,13.86090 2.43190,1978,113797531,179.02609 11.34820
58,1941,41981380,14.54694 2.49953,1979,116405940,191.12747 11.84381
59,1942,42879166,14.15491 2.38125,1980,119002706,208.71120 12.65122
60,1943,43814191,15.35899 2.52866,1981,121583741,199.84097 11.85639
61,1944,44793288,16.52106 2.66053,1982,124149534,201.49965 11.70773
62,1945,45823289,17.05309 2.68448,1983,126701720,195.59571 11.13577
63,1946,46911027,19.02722 2.92579,1984,129241933,206.15788 11.50641
64,1947,48063335,19.48925 2.92499,1985,131771808,222.34127 12.17141
65,1948,49287044,21.37971 3.12905,1986,134292979,238.99463 12.83743
66,1949,50588988,23.02595 3.28326,1987,136807080,247.43114 13.04635
67,1950,51976000,24.59171 3.41294,1988,139315746,247.28268 12.80374
68,1951,53452954,25.79670 3.48125,1989,141820611,255.09681 12.97505
69,1952,55016895,27.67986 3.62920,1990,144323309,244.00010 12.19542
70,1953,56662911,28.98081 3.68939,1991,146825475,246.51864 12.11133
71,1954,58386089,31.24131 3.85979,1992,149328743,245.17741 11.84351
72,1955,60181517,33.99055 4.07416,1993,151834748,257.25164 12.22166
73,1956,62044282,34.97628 4.06645,1994,154345124,272.30824 12.72657
74,1957,63969470,37.66945 4.24776,1995,156861505,283.80997 13.05133
75,1958,65952171,41.73775 4.56503,1996,159385526,291.35531 13.18613
76,1959,67987471,45.82805 4.86235,1997,161918821,300.88668 13.40445
77,1960,70070457,50.13589 5.16128,1998,164463024,301.28361 13.21450
78,1961,72196914,54.44758 5.44006,1999,167019770,303.72994 13.11786
79,1962,74365412,58.04112 5.63000,2000,169590693,316.97937 13.48256
80,1963,76575220,58.38937 5.50033,-,-,- -

In [13]:
import pandas as pd

In [88]:
years = pd.DataFrame(df.iloc[:40,2]).copy()

In [89]:
years.drop(index=[0,1], inplace=True)
years.reset_index(drop = True, inplace=True)
years

   real GDP indexes
0               1 1
1   1.08492 1.06563
2   1.07269 1.03576
3   1.01970 0.96861
4   1.00272 0.93758
5   1.02718 0.94590
6   1.08289 0.98250
7   1.17256 1.04850
8   1.27039 1.11983
9   1.27786 1.11057
10  1.33493 1.14391
11  1.34308 1.13477
12  1.29553 1.07917
13  1.34580 1.10508
14  1.38316 1.11936
15  1.51360 1.20693
16  1.58901 1.24804
17  1.74934 1.35285
18  1.77448 1.35065
19  1.79962 1.34756
20  1.69704 1.24952
21  1.72625 1.24916
22  1.81457 1.28993
23  1.79215 1.25115
24  1.85193 1.26941
25  1.91987 1.29192
26  1.88183 1.24310
27  1.86485 1.20932
28  1.99257 1.26860
29  2.04488 1.27839
30  1.98985 1.22180
31  2.04284 1.23226
32  2.12776 1.26104
33  2.11010 1.22865
34  2.29828 1.31449
35  2.17260 1.22017
36  2.22016 1.22379
37  2.18280 1.18023

In [99]:
years1 = pd.DataFrame(df.iloc[:40,5]).copy()
years1.drop(index=[0,1], inplace=True)
years1.reset_index(drop = True, inplace=True)
years1.rename(columns={'real GDP indexes.1':'real GDP indexes'}, inplace=True)
years1

   real GDP indexes
0   2.14000 1.13422
1   2.20046 1.14232
2   2.45862 1.24904
3   2.66922 1.32585
4   2.37098 1.15067
5   2.06730 0.97974
6   2.11553 0.97874
7   2.57138 1.16115
8   2.38591 1.05160
9   2.40561 1.03504
10  2.52654 1.06149
11  2.53605 1.04081
12  2.50616 1.00523
13  2.80018 1.09833
14  2.99619 1.14979
15  3.01019 1.13063
16  3.02419 1.11211
17  3.09419 1.11429
18  3.23420 1.14077
19  3.68223 1.27222
20  3.31821 1.12302
21  3.66823 1.21606
22  3.93425 1.27744
23  3.94825 1.25547
24  4.36828 1.36018
25  4.43828 1.35317
26  4.49428 1.34165
27  4.43828 1.29726
28  4.63429 1.32630
29  4.88631 1.36932
30  4.98432 1.36780
31  5.27834 1.41856
32  5.81037 1.52944
33  5.92238 1.52707
34  6.38441 1.61274
35  6.93045 1.71525
36  7.02846 1.70447
37  7.02846 1.67025

In [91]:
years2 = pd.DataFrame(df.iloc[41:81,2]).copy()
years2.drop(index=[41,42], inplace=True)
years2.reset_index(drop = True, inplace=True)
years2

    real GDP indexes
0     7.39248 1.7216
1    8.19053 1.86938
2    9.12859 2.04198
3    9.22660 2.02287
4    9.03059 1.94059
5    8.73657 1.84017
6    9.11459 1.88170
7    9.92664 2.00865
8   10.83670 2.14914
9   11.15872 2.16881
10  12.50281 2.38132
11  13.07685 2.44049
12  13.66489 2.49858
13  14.00091 2.50787
14  13.86090 2.43190
15  14.54694 2.49953
16  14.15491 2.38125
17  15.35899 2.52866
18  16.52106 2.66053
19  17.05309 2.68448
20  19.02722 2.92579
21  19.48925 2.92499
22  21.37971 3.12905
23  23.02595 3.28326
24  24.59171 3.41294
25  25.79670 3.48125
26  27.67986 3.62920
27  28.98081 3.68939
28  31.24131 3.85979
29  33.99055 4.07416
30  34.97628 4.06645
31  37.66945 4.24776
32  41.73775 4.56503
33  45.82805 4.86235
34  50.13589 5.16128
35  54.44758 5.44006
36  58.04112 5.63000
37  58.38937 5.50033

In [100]:
years3 = pd.DataFrame(df.iloc[41:81,5]).copy()
years3.drop(index=[41,42], inplace=True)
years3.reset_index(drop = True, inplace=True)
years3.rename(columns={'real GDP indexes.1':'real GDP indexes'}, inplace=True)

In [101]:
ally = pd.concat([years,years1,years2,years3], axis = 0, ignore_index=True)

In [102]:
ally

       real GDP indexes
0                   1 1
1       1.08492 1.06563
2       1.07269 1.03576
3       1.01970 0.96861
4       1.00272 0.93758
5       1.02718 0.94590
6       1.08289 0.98250
7       1.17256 1.04850
8       1.27039 1.11983
9       1.27786 1.11057
10      1.33493 1.14391
11      1.34308 1.13477
12      1.29553 1.07917
13      1.34580 1.10508
14      1.38316 1.11936
15      1.51360 1.20693
16      1.58901 1.24804
17      1.74934 1.35285
18      1.77448 1.35065
19      1.79962 1.34756
20      1.69704 1.24952
21      1.72625 1.24916
22      1.81457 1.28993
23      1.79215 1.25115
24      1.85193 1.26941
25      1.91987 1.29192
26      1.88183 1.24310
27      1.86485 1.20932
28      1.99257 1.26860
29      2.04488 1.27839
..                  ...
122   113.71590 8.35358
123   129.60056 9.27780
124   140.16811 9.78303
125  147.41011 10.03576
126  162.53016 10.79893
127  170.54993 11.06516
128  179.02609 11.34820
129  191.12747 11.84381
130  208.71120 12.65122
131  199.84097 11.85639
132  201.49965 11.70773
133  195.59571 11.13577
134  206.15788 11.50641
135  222.34127 12.17141
136  238.99463 12.83743
137  247.43114 13.04635
138  247.28268 12.80374
139  255.09681 12.97505
140  244.00010 12.19542
141  246.51864 12.11133
142  245.17741 11.84351
143  257.25164 12.22166
144  272.30824 12.72657
145  283.80997 13.05133
146  291.35531 13.18613
147  300.88668 13.40445
148  301.28361 13.21450
149  303.72994 13.11786
150  316.97937 13.48256
151                -  -

[152 rows x 1 columns]

In [103]:
ally.to_excel("output.xlsx",sheet_name='Sheet_name_1')